<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Music cultural</h1>
    <form action="result" method="POST">
        {% csrf_token %}
        <input placeholder="age" type="text" name="age"/>
        <input type="text"placeholder="gender" name="gender"/>
        <button style="border: 1px;" type="submit">Predict</button>
        <div id="result">
            <div>
                {{prediction}}
            </div>
        </div>
    </form>
</body>
</html>